{% extends 'base.html' %}

{% block title %}
    YOUR ACCOUNT
{% endblock %}

{% block content %}
    <div class="panel panel-success">
        <div class="panel-heading">
            Please login:
        </div>
        <div class="panel-body">

            <br>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="save">
                </form>
            </div>
        </div>
    </div>
{% endblock %}




